# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Logs
logs/
*.log
*.out
*.pid
venv/
my_env/
# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build output
dist/
build/
tmp/
temp/
.cache/
coverage/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.swp
*.bak
*.tmp

# Test output
test-results/
junit.xml

# Lambda artifacts
*.zip
.aws-sam/
.serverless/